spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: user-service
            uri: ${USER_SERVICE_URI}
            predicates:
              - Path=/users/**
            filters:
              - AddRequestHeader=X-Gateway, GatewayActive
          - id: auth-service
            uri: ${AUTH_SERVICE_URI}
            predicates:
              - Path=/auth/**
            filters:
              - AddRequestHeader=X-Gateway, GatewayActive
          - id: chat-service
            uri: ${CHAT_SERVICE_URI}
            predicates:
              - Path=/chats/**
            filters:
              - AddRequestHeader=X-Gateway, GatewayActive
          - id: message-service
            uri: ${MESSAGE_SERVICE_URI}
            predicates:
              - Path=/messages/**
            filters:
              - AddRequestHeader=X-Gateway, GatewayActive
  main:
    web-application-type: reactive
server:
  port: 9000
  forward-headers-strategy: framework
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: ${SPRING_EUREKA_CLIENT_SERVICE-URL}
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
